body {
    font-family: 'Rubik', sans-serif;
    margin: 1%;
}

h1 {
    font-size: 50px;
    line-height: 80px;

}


p {
    color: dimgray;
    line-height: 30px;

}

.half-width p {
    margin-bottom: 80px;

}

.orange {
    color: orange;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    margin-top: 500px;
    border-radius: 20%;
    color: white;
    font-weight: 700;
}

#top-background {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#mid-banner {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    height: 485px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 100%;
}

#img-size {
    width: 50%;
    float: right;
}


.flex-container {
    display: flex;
    margin-bottom: 50px;
}

#my-recipies {
    text-align: center;
}

.bottom-images {
    width: 50%;
    display: block;
    margin: 2%;
    border: 5px solid white;
    border-radius: 5%;
    padding: 1%;
    box-shadow: 10px 10px 30px lightgray;


}

.bottom-images img {
    width: 100%;

}


#bottom-section {
    margin: 5%;
}

#social {
    display: flex;
    margin-left: 480px;
    margin-right: 0px;
}

.social-div {
    border: 5px solid white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px lightgray;

}

.social-div img {
    width: 50px;
}

#social-head {
    text-align: center;
}




footer {
    text-align: center;
    color: dimgray;
    background-color: black;
    height: 200px;
    padding: 1%;
}